@model Mvc_Eczane.Models.Entity.TBLKATEGORI
@{
    ViewBag.Title = "KategoriEkle";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@using (Html.BeginForm("KategoriEkle", "Kategori", FormMethod.Post))
{
    <div style="margin-top:15px">
        <label>Kategori Adı</label>
        @Html.TextBoxFor(x =>x.AD , new { @class = "form-control" })
    </div>
    <button class="btn btn-primary">Ekle</button>
}

